<!DOCTYPE html>
<html>
<head>
    <title>Using range function to parse data</title>
</head>
<body>

    <h1>Student Details</h1>
    <p><b>Name:</b> {{.Name}}</p><!--It holds a value from the struct-->
    <p><b>Qualification:</b> {{.Qualification}}</p><!--It holds a value from the struct-->
    <p><b>Grade:</b> {{.Grade}}</p><!--It holds a value from the struct-->
   
   
</body>
</html>